/* 底部 */
        footer {
            margin-top: 30px;
            width: 100%;
            height: 362px;
            background: url(../img/bg_footer.jpg) no-repeat center 0;
            color: #666;
        }

        footer .footT {
            height: 142px;
            padding-top: 70px;
            border-bottom: 1px solid #ccc;
        }

        footer .footT .footTop {
            height: 64px;
            background: url(../img/spr.png) no-repeat;
            cursor: pointer;
        }

        .footLeft {
            width: 508px;
            height: 86px;
            float: left;
        }

        footer .footRight {
            margin-top: 10px;
            float: right;
            width: 650px;
            height: 106px;
            font-size: 13px;
        }